<h1>Editing Book</h1>

<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>

<p>title</p>
<%= f.text_field :title %>

<p>body</p>
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>


<%= link_to 'show', book_path  %>  |
<%= link_to 'Back', books_path %>

<% end %>

