<h1>Editing Book</h1>

<%= form_for(@book, url:'/') do |f| %>

<p>title</p>
<%= f.text_field :title %>

<p>body</p>
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>


<%= link_to 'show', '/books/:id' %>  |
<%= link_to 'Back', '/books' %>

<% end %>

